<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>UGRP_WebBoard</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header__title"><%=page%></h1>
    </header>

    <div>
      <label for="title">TITLE : <%=board.title%></label>
    </div>

    <form
      action="/posting/<%=board._id%>/?_method=patch"
      method="POST"
      class="boardeditform"
    >
      <div>
        <label for="body">BODY</label>
        <input type="text" name="body" value="<%=board.body%>" required />
      </div>
      <button class="btn">REPOSTING</button>
    </form>

    <input
      type="button"
      class="btn"
      onclick=" location.href='/home'"
      value="GO BACK"
    />
  </body>
</html>
