<div id="wrap">
    <h1 class="title">Hello!, <%=message%></span>
      <div>
        <text>here is our ugrp page </text>
      </div>
    <div class="user">
      <input
        type="button"
        class="btn"
        onclick=" location.href='/logout'"
        value="LOGOUT"
      /> 
      <input
      type="button"
      class="btn"
      onclick=" location.href='/write'"
      value="WRITE"
      />

    </div>
    <div>
      게시판 생성 예정...


    </div>
  </div>
  