<div id="wrap">
  <h1 class="title">Hello!</span>
    <div>
      <text>welcome to our page </text>
    </div>
  <div class="user">
    
      
      <input
      type="button"
      class="btn"
      onclick=" location.href='/login'"
      value="LOGIN"
    />
    <input
      type="button"
      class="btn"
      onclick=" location.href='/signup'"
      value="SIGNUP"
    />
      
   
  </div>
</div>
