<body>
  <header class="header">
    <h1 class="header__title"><%=title%></h1>
  </header>
  <div>
    <div><%=writer%></div>
    <div><%=body%></div>
    <div><%=createdAt%></div>
  </div>
  <div>
    <input
      type="button"
      class="btn"
      onclick=" location.href='/home'"
      value="BACK"
    />
  </div>
</body>
