<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>UGRP_WebBoard</title>
  </head>

  <body>
    <header class="header">
      <h1 class="header__title"><%=page%></h1>
    </header>
    <div class="intro">
      <% if(what != ""){ %> <%=what%> <%} else {%>
      <text>welcome to this page.</text>
      <%}%>
    </div>
    <form action="/signup" method="POST" class="signupform">
      <div>
        <label for="name">NAME</label>
        <input name="name" type="text" required />
      </div>
      <div>
        <label for="schoolnum">SCHOOLNUM</label>
        <input name="schoolnum" type="schoolnum" required />
      </div>
      <div>
        <label for="id">ID</label>
        <input name="id" type="id" required />
      </div>
      <div>
        <label for="password">PASSWORD</label>
        <input name="password" type="password" required />
      </div>
      <button class="btn">SIGNUP!</button>
    </form>
    <input
      type="button"
      class="btn"
      onclick=" location.href='/'"
      value="GO BACK"
    />
  </body>
</html>
