<body>
    <header class="header">
      <h1 class="header__title"><%=page%></h1>
    </header>
    <text><%=message%></text>
    <input
    type="button"
    class="btn"
    onclick=" location.href='/'"
    value="BACK"
  />
    </form>
  </body>
  