.Board_search {
  height: 10%;
  padding-top: 13%;
  border-bottom: thin solid rgb(116, 174, 241);
}

.Board {
  height: 80%;
}

.Board_dataname {
  background-color: rgb(247, 247, 247);
  display: flex;
  margin: 0 auto;
  height: 5%;
  align-items: center;
  border-bottom: thin dotted #cac8c8;
}

.Board_data {
  display: flex;
  margin: 0 auto;
  height: 40%;
  align-items: center;
  border-bottom: thin dotted #cac8c8;
}

.postingnum {
  width: 60%;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 7%;
}
.postingtitle {
  width: 400%;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 7%;
}
.postingdate {
  width: 130%;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 7%;
}
.postingwriter {
  width: 70%;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 7%;
}
.postinghits {
  text-align: center;
  width: 5%;
  margin-bottom: 7%;
  margin-top: 7%;
}
