.body_layout {
  display: inline-block;
  width: 70%;
  padding-top: 5%;
  text-align: center;
}

.body_wrap {
  width: 100%;
  display: inline-block;
}

.lnb_layout {
  width: 20%;
}

.contents {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.header {
  font-size: 2.3rem;
  font-weight: bolder;
  padding-bottom: 5%;
  padding-left: 2%;
  margin-bottom: 0.5%;
}

.content_wrap {
  border-top: medium solid #000;
}
