@import "/css/reset.css";
@import "/css/status-bar.css";
@import "/css/header.css";
@import "/css/board.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
}

a {
  color: inherit;
  text-decoration: none;
}
